.wrapper 
{
	width:1000px;
	margin: 20px auto 0 auto;
	min-height: 500px;
	background-color: #e5e5e5;
}
.header 
{
	background-color: #00ff00;

}
.content
{
	padding: 10px;
}
.news
{
	width: 239px;
	height: 100px;
	background-color: #ffee00;
	margin-right:8px;
	margin-bottom:8px;
	float: left;
}
.last
{
	margin-right: 0;
}
.upper 
{
	height: 100px;
	background-color: #abcdef;
}
.lower
{
	height: 300px;
	background-color: #e6e6e6;

}

.banner
{
	width: 730px;
	background-color: #ff0000;
	margin-right:20px;
	float: left;
	height: 80px;
}

.advert
{
	width: 230px;
	background-color: #019581;
	float: right;
	height: 80px;
}
.clear
{
	clear: both;
}

.header ul
{
	margin:0;
	padding: 0;
	list-style: none;
}
.header ul li 
{
	width: 25%;
	float: left;
	
	}
.header ul li a
{
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
}
.header ul li a:hover
{
	border: 4px solid #000;
} 
.show_me
{
	dispaly:none;
}
.image img
{
	max-width: 100%;
}
.image
{
	position: relative;
}
.image p
{
	position: absolute;
	width:100%;
	padding:30px;
	bottom:0px;
	background: #000;
	color: #fff;
	margin:0px;
	opacity: 0.5;
	right: 0;
	left: 0;
} 